/* Hardcodes sizes since fonts vary on platforms */

.mce-spacer {
    width: 20px;
    height: 20px;
    visibility: visible;
    border: 0 solid black;
}

.mce-head .mce-title {
    width: 100px;
    height: 20px;
    display: inline-block;
}

.mce-btn .mce-txt {
    width: 20px;
}

/* Colors used for debugging */

.mce-red {
    background-color: red;
}

.mce-green {
    background-color: green;
}

.mce-blue {
    background-color: blue;
}

.mce-yellow {
    background-color: yellow;
}

.mce-magenta {
    background-color: magenta;
}

.mce-cyan {
    background-color: cyan;
}

.mce-dotted {
    background-image: url(../img/raster.gif);
}

.mce-i-test {
    background: red;
}

body .mce-window, body .mce-notification {
    transform: none;
}
